* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: sans-serif;
  outline: none;
}

.container {
  padding: 20px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-container {
  width: 50%;
  height: 300px;
  font-size: 1.4rem;
  padding: 10px;
  background-color: #123;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

#record {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: crimson;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  cursor: pointer;
  transition: all .4s ease;
}

.recording {
  border-radius: 10px !important;
}

#mic-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  opacity: .5;
}

#mic, #mic option {
  color: #123;
}